


.triangle {
    position: relative;
}

.triangle div {
    position: absolute;
}

.triangle div:nth-child(1) {
    margin-top: 10%;
}

.triangle div:nth-child(2) {
    top: 0;
}

.triangle div:nth-child(3) {
    bottom: 0;
    left: 0;
}
.triangle div:nth-child(4) {
    bottom: 0;
    right: 0;
}
